* * * * * /usr/local/bin/php /app/console.php handle:queue
* * * * * /usr/local/bin/php /app/console.php handle:queue llm
* * * * * /usr/local/bin/php /app/console.php handle:queue glossary
*/15 * * * * /usr/bin/timeout 300s /usr/local/bin/php /app/console.php